{% extends 'core/base.twig' %}

{% block title 'Register' %}

{% block body %}
<form action="#" method="post" {{ form_enctype(form) }}>
    <dl class="clearfix">
        <dt>
            {{ form_label(form.email) }}
        </dt>
        <dd>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </dd>
        <dt>
            {{ form_label(form.username) }}
        </dt>
        <dd>
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </dd>
        <dt>
            {{ form_label(form.password) }}
        </dt>
        <dd>
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </dd>
    </dl>
    {{ form_widget(form._token) }}

    <input class="btn btn-primary" type="submit" name="submit" value="Register" />
</form>

{% endblock %}
